.search{
    max-width: 45%;
    height: 10%;
    margin: 50px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search__input{
    width: 75%;
    padding: 5px 0;

    font-size: 18px;

    border: 1px solid rgb(63, 115, 180);
    box-shadow: 5px 5px 5px rgba(124, 160, 205, 0.712);
}
.search__button{
    width: 20%;
    padding: 5px 0;
    
    font-size: 18px;
    color: rgb(38, 82, 136);

    border: 1px solid rgb(63, 115, 180);
    box-shadow: 5px 5px 5px rgba(124, 160, 205, 0.712);
}