* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(204, 231, 244);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(23, 69, 107);
}

button {
    border: none;
    cursor: pointer;
}
